<% if @habitacion.fotos.attached? %>
    <div class="row">
        <% @habitacion.fotos.each do |foto| %>
            <div class="col">
                <%= image_tag foto, class: 'w-100' %>
            </div>
        <% end %>
    </div>
<% end %>

<%= form_with(model: @reserva) do |formulario| %>

    <div class="pt-3">
        <h4>Fechas</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <%= formulario.label :fecha_ingreso, class: 'form-label' %>
                        <%= formulario.date_field :fecha_ingreso, class: 'form-control' %>
                        <% if @reserva.errors[:fecha_ingreso].any? %>
                            <div class="alert alert-danger" role="alert">
                                <%= @reserva.errors[:fecha_ingreso].first %>
                            </div>
                        <% end %>
                    </div>
                    <div class="col">
                        <%= formulario.label :fecha_salida, class: 'form-label' %>
                        <%= formulario.date_field :fecha_salida, class: 'form-control' %>
                        <% if @reserva.errors[:fecha_salida].any? %>
                            <div class="alert alert-danger" role="alert">
                                <%= @reserva.errors[:fecha_salida].first %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4>Habitación</h4>
            <div class="card">
                <div class="card-body">
                    <h5><%= @habitacion.nombre %></h5>
                    <h6><%= @habitacion.hotel.nombre %>, <%= @habitacion.hotel.ciudad.nombre %></h6>
                    <div>
                        <% @habitacion.hotel.estrellas.times do %>
                        ⭐
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
                <h4>Huésped</h4>
                <div class="card">
                    <div class="card-body">
                        <h5><%= @usuario_actual.nombre %></h5>
                        <h6>Tel <%= @usuario_actual.telefono %> </h6>
                        <h6>Id. <%= @usuario_actual.identificacion %> </h6>
                    </div>
                </div>
        </div>
    </div>
    <div class="row mt-3">
        <%= formulario.button type: 'submit', class: 'btn btn-primary text-white' do %>
            Reservar por
            <span class="fs-5">
                <b>
                    <%= number_to_currency(@habitacion.precio, unit: 'CLP ', delimiter: '.', precision: 0) %>
                </b>
            </span>
        <% end %>
    </div>

<% end %>
