<h1>Editar</h1>

<%= form_with(model: @ciudad) do |formulario| %>

    <%= formulario.label        :nombre %>
    <%= formulario.text_field   :nombre %>
    <% if @ciudad.errors[:nombre].any? %>
        <div>
            <%= @ciudad.errors[:nombre].first %>
        </div>
    <% end %>

    <button>Cancelar</button>
    
    <%= formulario.submit "Actualizar" %>
<% end %>