<h5 class="mb-3">
    <b>Lista de ciudades</b>
</h5>
<% if flash[:error_ciudad] %>
    <div class="alert alert-warning" role="alert">
        <%= flash[:error_ciudad] %>
    </div>
<% end %>
<div class="card">
    <div class="card-body">

        <table class="table table-hover">
            <% @lista_ciudades.each do |c| %>
                <tr>
                    <td class="text-center">
                        <%= c.id %>
                    </td>            
                    <td class="text-center">
                        <%= link_to c.nombre, ciudad_path(c) %>
                    </td>
                    <td class="text-center">
                        <%= link_to "Editar", editar_ciudad_path(c), class: "btn btn-warning boton-redondeado" %> <!-- /ciudades/4/editar -->
                        <%= link_to "Eliminar", ciudad_path(c), 
                        method: :delete, 
                        class: "btn btn-danger",
                        data: { confirm: "¿Está seguro que quiere eliminar la ciudad?" } %>
                    </td>
                </tr>
            <% end %>


        </table>
    </div>
</div>